TRADING_API_BASE_URL=https://jlsprojects.com
TRADING_API_ADMIN_TOKEN=replace_with_vps_admin_token
TRADING_API_BASIC_AUTH=operator:replace_with_nginx_operator_password
DASHBOARD_ACCESS_TOKEN=replace_with_operator_login_token
DASHBOARD_SESSION_SECRET=replace_with_random_cookie_secret
DASHBOARD_ALLOW_CONTROL_ACTIONS=false
